doctype html
html 
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/css/style.css')

body
  h1 Socket Io
  h2 Objetivos
  h2#text
  h2#user-connected
  button#emit-to-server Presioname
    
script(src="/socket.io/socket.io.js")
script(src=`${socket}`)