nav.navbar.bg-dark.flex-column
  div.container-fluid
    div 
      a.navbar-brand.mr-0.mr-md-2.active.text-light(href="" class='navbar-link') Principal
      a.navbar-brand.active.text-light(href="") Novedades
      a.navbar-brand.active.text-light(href="") Chat
    div
      button.btn.btn-outline-primary(type="submit")= "Subscribirse"