nav.navbar.bg-dark.navbar-expand-lg.navbar-fixed-top
  div.nav.navbar-nav
    a.nav-link.active.text-light(href="" class='navbar-link') Principal
    a.nav-link.active.text-light(href="") Novedades
    a.nav-link.active.text-light(href="") Chat
  button.btn.btn-primary(type="submit")= "Subscribirse"