h1 {
    color: red;
}

h2 {
    color: green;
}

.contenido {
    width: 1200px;
}

.caja {
    text-align: center;
    display: inline-block;
    width: 250px;
    background-color: gray;
    margin-left: 20px;
    top: 0;
}

img {
    width: 200px;
    padding: 10px;
}

.caja__content {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;

}

.inactive {
    display: none;
}