
  #body-color {
    width: 100%;
    text-align: center;
    background-color: rgb(139, 218, 139);
  }

  h1 {
    color: red;
  }

  h2 {
    color: green;
  }

  .contenido {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 1200px;
    text-align: center;
    gap:  20px;
  }

  .caja {
    width: 1200px;
    height: 60px;
    background-color: rgb(180, 180, 180);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }

  img {
    position: absolute;
    width: 60px;
    padding: 2px;
    display: block;
  }

  .caja__content {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    list-style: none;
  }

  .inactive {
    display: none;
  }

  #chat-messages {
    align-items: end;
    justify-content: end;
    margin-left: 50px;
    overflow-y: scroll;
  }