extends ../layout/index
block content 
  body
    h2#text
    h2#user-connected
    h3 Usuarios conectados:
      span#users-number
    button#room2.btn.btn-success Entrar a sala 2
    button#room3.btn.btn-success Entrar a sala 3
    div#leave

    form(name="myForm" action="/v1/api/chat" method="POST") 
      main#chat-messages(name="message")
        button.btn.btn-dark Guardar

    footer.bg-dark
      form#chat-form
        div.input-group.mb-3.w-50.position-fixed.bottom-0.end-0.me-5
          input#msg.form-control(rows="2")
          div.input-group-append
            button.btn.btn-dark Enviar
    
    script(src="/socket.io/socket.io.js")
    script(src=`${socket}`)