extends ../layout/index
block content 

  div(style="width: 18rem; margin-bottom:10px" class="card")     
    div(class="card-body")
      h6(class="card-title")= title
      p(class="card-text")= text
      p(class="card-text")= category
      p(class="card-text")= comment
      p(class="card-subtitle mb-2 text-muted")